extends layout

block content
 div(style={float:'left'})
  table
    thead
      th Rank
      th Name
      th % Used
      th $/Share
      th Total
    tbody
      each player in standings
        tr
          td: span= player.rank
          td 
            span= player.name
              if (player.bonus1)
                sup 1
              if (player.bonus2)
                sup 2
          td: span= player.sharesUsed
          td: span= player.perShareDisp
          td: span= player.totalDisp
 div(style={float:'left', width:'70%'})
   each movie in earnings
     div(class="movie-box" style={float:'left', width:'30%', height:'160px', border:'solid 1px #000', margin:'4px'})
       div(style={height:"160px", float:"left", "margin-right":"4px"})
         img(src=movie.posterUrl, height="160")
       div(style={height:"160px", float:"left"})
         p= movie.name
         p= `Release Date: ${movie.releaseDate}`
         p: strong= movie.grossDisp
         p: em= `${movie.shares} shares, $${movie.valueDispShort}/ share`
         p= `Rating: ${movie.rating}%`