extends layout

block content
 div(style={float:'left'})
  table
    thead
      th Rank
      th Name
      th % Used
      th $/Share
      th Total
    tbody
      each player in standings
        tr
          td: span= player.rank
          td 
            span= player.name
              if (player.bonus1)
                sup 1
              if (player.bonus2)
                sup 2
          td: span= player.sharesUsed
          td: span= player.perShareDisp
          td: span= player.totalDisp
 div(style={float:'left', width:'70%'})
   each movie in earnings
     div(class="movie-box" style={float:'left', width:'30%', border:'solid 1px #000', margin:'4px'})
       p= movie.name
       p: strong= movie.grossDisp
       p: em= `${movie.shares} shares, $${movie.valueDispShort}/ share`
       p= `Rating: ${movie.rating}%`