extends layout
include mixins/new_movie_box.pug
include mixins/new_bonus_box.pug

block styles
  link(rel="stylesheet" href="/stylesheets/new.css")

block content
  form(action="/new", method="post")
    nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href="#") &#127909; Fantasy Movie League
      div.team-type
        span Team: 
        span= team.name
        input(type="hidden", name="teamId" value=team.id)
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div#navbarsExample04.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
      div
        input#whoareyou(required type="text" name="whoareyou" placeholder="First & Last Name")
      div
        input#email(type="email" name="email" placeholder="Email (optional)")
      div#remaining
        span 100 remaining
      button#save.btn.btn-primary(type="submit") Submit
    div.main
      div.jumbotron
        div.container
          if thanks
            div.row.justify-content-md-center
              div.col-sm-6.text-center
                img(src="https://media.giphy.com/media/KJ1f5iTl4Oo7u/giphy.gif" alt="Thanks!")
                hr
          h1.display-4= season.pageTitle
          p Enter the shares for each movie and select the bonus options you choose below, then enter your First and Last name (required) and your email (optional, only used for sending you a copy of your submissions) above.
          h2.mb-5 Deadline: 
            span#deadline 
            span &nbsp;|&nbsp;
            a(target="_blank" href="https://www.github.com/snickroger/FantasyMovieLeagueJs") View Rules
          div.row.justify-content-md-center
            div.col-sm-6
              h3.text-center Trailer Playlist
              div#trailers.embed-responsive.embed-responsive-16by9!= season.newHeaderContent
      div.container
        div.row
          each movie in season.movies
            +new_movie_box(movie)
          +new_bonus_box(1, bonusAmount, season.movies)
          +new_bonus_box(2, bonusAmount, season.movies)
block scripts
  script=`var seasonStart = '${seasonStart}';`
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.2.0/jquery.countdown.js', integrity='sha256-2HAs3lxuJSrA/bAbF2bgaV55gSuX8vVsj2pCcWYqmY4=', crossorigin='anonymous')
  script(src='/javascripts/new.js')