mixin movie_box(movie)
  div.movie-box
    div.poster
      img(src=movie.posterUrl, height="160")
    div.movie-data
      p= movie.name
      p= `Release Date: ${movie.releaseDate}`

      if movie.gross > 0
        p: strong= movie.grossDisp
      
      if movie.valueDispShort != ""
        p: em= `${movie.shares} shares, $${movie.valueDispShort}/ share`
      else
        p: em= `${movie.shares} shares`
      
      if movie.rating !== null
        p= `Rating: ${movie.rating}%`