include worst_movie_icon.pug
include best_movie_icon.pug

mixin movie_box(movie)
  div.col-lg-4.my-3
    div.card
      img.card-img-top(src=movie.posterUrl alt=movie.name)
      div.card-body
        div.card-body_wrapper
          h4= movie.name
          p= `Release Date: ${movie.releaseDate}`

          if movie.gross > 0
            p: strong= movie.grossDisp
          
          if movie.valueDispShort != ""
            p: em= `${movie.shares} shares, $${movie.valueDispShort}/ share`
          else
            p: em= `${movie.shares} shares`
          
          if movie.rating !== null
            p= `Rating: ${movie.rating}%`
              if movie.isBestMovie
                +best_movie_icon()
              if movie.isWorstMovie
                +worst_movie_icon()