mixin new_bonus_box(i, bonusAmount, movies)
  div.col-lg-12.my-3
    div.card
      img.card-img-top(src=`/images/bonus.jpg` alt='Bonus')
      div.card-body
        div.card-body_wrapper
          h3= `Bonus ${i}: +${bonusAmount}`
          p What will be the 
            strong= `${i == 1 ? 'highest' : 'lowest'} ` 
            | rated movie on 
            a(href="https://www.rottentomatoes.com" target="_blank" rel="noopener") Rotten Tomatoes
            | ?
          select(name=`bonus${i}`)
            each movie in movies
              option(value=movie.id)= movie.name